<div class="wrapper">
    <video [muted]="true" autoplay playsinline loop id="bg-video">
        <source src="assets/landing-page/ААААААААААААААА.mp4" type="video/mp4">
    </video>
</div>

<div class="quick-scroll-bottom-btn">
    <mat-icon class="icon">keyboard_arrow_down</mat-icon>
    <span class="spacer"></span>
    <span style="font-size: x-large;">Scroll down</span>
</div>
<div class="main-content">
    <div class="page-thumbnail-wrapper">
        <div class="page-thumbnail-container">
            <a *ngFor="let thumbnailDetails of pageThumbnailDetails" [href]="thumbnailDetails.navigateToPath" class="page-thumbnail-link">
                <div class="page-thumbnail" [ngStyle]="{'background-image': 'url(' + thumbnailDetails.thumbnailUrl + ')'}">
                    <span class="spacer"></span>
                    <div class="title-wrapper">
                        <span class="title">{{ thumbnailDetails.title }}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
